@import "./vars.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:ital,wght@0,500;1,400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
body {
  background: $bg-color;
  font-family: Inter, sans-serif;
}

// Pagination

.MuiPagination-ul {
  display: flex;
  justify-content: center;
  margin: 27px 0 18px !important ;
}

.Mui-selected {
  background-color: $info-color !important;
  color: $base-color !important;
}

a {
  text-decoration: none;
  color: $text-color;
}

li {
  list-style: none;
}
