@import "./vars.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
body {
  background: $bg-color;
  font-family: Inter, sans-serif;
}

// Pagination

.css-wjh20t-MuiPagination-ul {
  display: flex;
  justify-content: center;
  margin: 27px 0 18px !important ;
}

.css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: $info-color !important;
  color: $base-color;
}

a {
  text-decoration: none;
  color: $info-color;
}
