$bg-color: #ebeef3; /* #E5E5E5 */
$base-color: #ffffff; /* @background-color-base */

$success-color: #52c41a;
$info-color: #1890ff; /* Blue / blue-6 / Daybreak */
$calendula-color: #faad14; /* Calendula Gold / gold-6 */
$error-color: #f5222d;
$highlight-color: #f5222d;

$heading-color: rgba(0, 0, 0, 0.85);
$text-color: rgba(0, 0, 0, 0.75);
$text-color-secondary: rgba(0, 0, 0, 0.5);
$disabled-color: rgba(0, 0, 0, 0.35);
$shadow-color: rgba(0, 0, 0, 0.15);

$label-color: #262626; /* Grey / grey-9 */
$modal-color: #595959; /* Grey / grey-8 */
$footnote-color: #8c8c8c; /* Grey / grey-7 */
$placeholder-color: #bfbfbf; /* Grey / grey-6 */
$border-color: #d9d9d9;
$hr-color: #e8e8e8;

$content-size: 70%;
